# Tiedostot, joita ei saa kutsua selaimsesta.
IndexIgnore .htaccess

# Ei näytetä tiedostolistausta ja seurataan symbolisia linkkejä.
Options -indexes +FollowSymLinks

# Asetetaan oletusmerkistö
AddDefaultCharset UTF-8

RewriteEngine On

#Nämä tiedostoja ja hakemistoja ei ohjata.
RewriteRule ^test/ - [L,NC]

# Ohjataan terminaalille tulevat käskyt oikeaan paikkaan.
RewriteRule ^(.+)$ terminal/index.php?command=$1 [QSA,L]