# Ei näytetä tiedostolistausta ja seurataan symbolisia linkkejä.
Options -indexes +FollowSymLinks

# Asetetaan oletusmerkistö
AddDefaultCharset UTF-8

RewriteEngine On

# Näitä tiedostoja tai hakemistoja ei ohjata.
RewriteRule ^test/ - [L,NC]

# Ohjataan muut pyynnöt terminaalille.
RewriteRule ^(.+)$ terminal/index.php?command=$1 [QSA,L]